.img-thumbnail {

   
}

.img {
    width: 200px;
    height: auto;
    object-fit: contain; /* Fit logo in the image size */
        -o-object-fit: contain; /* Fit logo fro opera browser */
    object-position: top; /* Set logo position */
        -o-object-position: top; /* Logo position for opera browser */
 }

 #image-upload {
     margin-top: 30px;
 }

 #inputGroupFileAddon04 {
    outline:none; 
 }

 img {
    position: relative;
    float: left;
    width:  200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    object-fit:scale-down;
}


