<p-toast [style]="{marginTop: '80px'}"></p-toast>

<input type="file" name="image" (change)="onFileSelect($event)" id="image">
<button type="button"  (click)="uploadFile()">Upload</button>
<div class="container">
  <h1 class="my-4 text-center text-lg-left">Thumbnail Gallery</h1>
  <div class="row text-center text-lg-left">
    <div *ngFor="let image of images" class="col-lg-3 col-md-3 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img  class="img-fluid img-thumbnail"  [src]="'data:image/jpeg;base64,'+image.image_data" alt="">
      </a>
    </div>
  </div>
</div>

