.login {
    margin-top: 4rem;
}

.panel-body {
    margin: 15px;
    
}

#register-submit {
  border-radius: 15px;
}

.panel-heading {
  border-radius: 10px;
}

.panel-login {
  background-color: #fff;
  border-radius: 10px;
}

.panel-login>.panel-heading {
    padding: 15px;
}

.radio-inline {
    padding-left: 15px;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  } 
  
  input[type=password]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  } 

  input[type=email]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  } 


input.ng-invalid.ng-dirty {
  background-color: lightcoral;
}

input.ng-valid.ng-dirty {
  background-color:lightgreen;
}


#register-submit:disabled {
  cursor: no-drop;
}